@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat';
}

body{
    background-color: #266AAA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}